:root {
    --couleurPrinciaple :blue;
    --couleurSeconadaire: white;
    --couleurTertiaire: black ;
}


html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    row-gap: 3em;
}
header{
    text-align: center;
}
main {    
     flex: 1;
     text-align: center;
    
}

footer{
    text-align: center;
}
.container {
    margin: 0 auto;
    width: 1000px;
}

#availableLetters{
    margin-top: 3em;
    font-size: 2em;   
    display:grid;
    grid-auto-rows: 60px;
    grid-template-columns: repeat(10,1fr);
    column-gap: 2em;
    row-gap: 1em;
    align-content: center;
    justify-content: space-around;  
}

.letters {
   font-size:1.4em;
}


@media screen and (max-width :1130px ) {
    .container {
        width: 700px;
    }
    
    #availableLetters{        
        grid-template-columns: repeat(8,1fr);
        column-gap: 0.5em;        
    }


    
}

@media screen and (max-width :730px ) {
    .container {
        width: 450px;
    }

    #availableLetters{        
        grid-template-columns: repeat(6,1fr);               
    }

    
}
@media screen and (max-width :460px ) {
    .container {
        width: 90%;
    } 
    #availableLetters{        
        grid-template-columns: repeat(3,1fr);               
    }
    
}