:root {
    --couleurPrincipale     : #395144 ;
    --couleurSecondaire    : #4E6C50 ;
    --couleurTertiaire      : #AA8B56 ;
    --couleurQuarnaire      : #F0EBCE ;
}
@font-face {
    font-family: Ardagh;
    src: url(ressources/font/Ardagh.ttf);
}

@font-face {
    font-family: ring;
    src: url(ressources/font/RINGM___.TTF);
}



html, body {
    height: 100%;
    width: 100%;
    margin: 0;  
    min-width: 320px;
    box-sizing: border-box;
}

body {   
    display: flex;
    flex-direction: column;
    text-align: center;    
    color : var(--couleurPrincipale);
    background-image: url(ressources/images/mainFond.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: Ardagh,Arial, sans-serif;
}


h1,h2,h3,h4 {
    font-weight: normal;    
    font-family: ring;
}

h1 {
    font-size: 3em;
    margin: 0;
}

h2 {
    font-size: 2em;
}

a {
    text-decoration: none;
    color: currentColor;
}

a:hover{
    font-weight: 800;
    font-size: 1.1em;
}


header{
    background-color: var(--couleurPrincipale);    
    color: var(--couleurQuarnaire);
}
main {    
    flex: 1; 
}

footer{
    background-color: var(--couleurSecondaire);    
    padding: 0.5em;
    font-family: ring;
    color: var(--couleurQuarnaire);
    flex-basis: 25px;
    
}

footer span {
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    margin: 0 auto;
    width: 1000px;
    box-sizing: border-box;
}

#container{         
    padding: 2em ;
}
#headerDiv {
    padding: 0.3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 60px;
    height: auto;
}


#motInconnu  {
    font-size: 2em;
    font-weight: bolder;
    text-shadow: 1px 1px 2px black;
}

#pendu {
    display: flex;    
    justify-content: space-around;
    column-gap: 1em;  
}   

#dessin {
    padding: 1em;
    flex-basis: 45%;
    box-shadow: 2px 2px 20px ;
    -webkit-box-shadow: 2px 2px 20px ;
    -moz-box-shadow: 2px 2px 20px ;
}

#victory {
    display: none;
}


#dessin svg, img {
    height: 250px;
    width: auto;
}
#lore {
    flex-basis: 45%;
    box-shadow: 2px 2px 20px ;
    -webkit-box-shadow: 2px 2px 20px ;
    -moz-box-shadow: 2px 2px 20px ;
}
#lore a {
    color: var(--couleurTertiaire);   
}

#jeux {
    display: flex;
    flex-direction: column;
    row-gap: 1em;  
    
}

#motInconnu {
    -moz-text-shadow: 2px 2px 2px rgba(250, 250, 250, 0.6);
    -webkit-text-shadow: 2px 2px 2px rgba(250, 250, 250, 0.6);
    text-shadow: 2px 2px 2px rgba(250, 250, 250, 0.6);
}

#lore {
    display: flex;
    flex-direction: column;
    row-gap: 1em;  
    padding: 0.5em;  
    font-size: 1.2em;    
}
#lore h2 {
    margin: 0;
}

#loreTxt {
    display:none;
    margin: 0;
}

#availableLetters {
    margin-top: 1em;
    font-size: 1.5em;   
    display:grid;
    grid-auto-rows: 60px;
    grid-template-columns: repeat(10,1fr);
    column-gap: 1em;
    row-gap: 0.7em;
    align-content: center;
    justify-content: space-around;  
}

.letters {
   font-size:1.4em;
   border-radius: 25%;
}


@media screen and (max-width :1130px ) {
    .container {
        width: 700px;
    }
    
    #availableLetters{        
        grid-template-columns: repeat(10,1fr);
        column-gap: 0.5em;      
    }
}

@media screen and (max-width :730px ) {
    .container {
        width: 450px;
    }

    #availableLetters{        
        grid-template-columns: repeat(10,1fr); 
        grid-auto-rows: 35px;       
        font-size: 0.8em;              
    }    

      h1 {
        font-size: 1.8em;
    }
}


@media screen and (max-width :460px ) {
    .container {
        width: 90%;
    } 
    #availableLetters{        
        grid-template-columns: repeat(10,1fr);    
        grid-auto-rows: 30px;       
        font-size: 0.6em;
    }
    h1 {
        font-size: 1.4em;
    }
  

    #pendu {
        flex-wrap: wrap;
        row-gap: 2em;
    }

    #dessin{
        flex-basis: 100%;

    }

    #lore{
        flex-basis: 100%;
        background-color: #ffffffb7;
    }
    #lore h2 {
        font-size: 1.2em;
    }   

    #dessin img, #dessin svg {
        height: 150px;
        width: auto;
    }

    #container{    
        padding: 1em 0 ;
    }


    
}